form {
  width: 60%;
  border: solid ipx;
}

input {
  padding: 12px, 5px;
  width: 85%;
  margin: 2% 0;
}

button {
  padding: 10px 12px;
  width: 85%;
  margin-top: 2%;
  border: solid 1px;
  border-radius: 5px;
  background-color: rgba(0, 128, 0, 0.837);
  color: #fff;
}
